/* Header base */
.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background: rgba(255, 250, 245, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #e7e2dd;height: 13vh ;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.header__logo {
  font-size: 1.6rem;font-family: 'Cinzel ';
  font-weight: 700;
  color: #0f172a;
  text-decoration: none;
}
/* Nav */
.header__nav {
  display: flex;
  gap: 26px;
}
.header__nav a {
  color: #334155;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}
.header__nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
   background: rgb(168, 0, 0);
  transition: width 0.3s ease;
}
.header__nav a:hover::after {
  width: 100%;
}

/* Actions */
.header__actions {
  display: flex;width: max-content;
  gap: 12px;
}

/* Buttons */
.btn {
  padding: 8px 18px;
  border-radius: 999px;width: max-content;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.25s ease;height: fit-content;
}
.btn--ghost{
  width: 100px;height: 20px;border-radius: 12px;;padding: 10px;text-decoration: none;height: max-content;
  margin: 0 px;border: 1px solid rgb(168, 0, 0);color: rgb(168, 0, 0);
}
.btn--primary{
   background: rgb(168, 0, 0);width: 100px;height: max-content;
   border-radius: 12px;padding: 10px;text-decoration: none;color: white;
}
.btn--ghost:hover {
  background-color: rgb(233, 27, 27);color: white;
}
.btn--primary:hover {
  background: rgb(146, 0, 0);
}

/* Responsive */
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
.Logo img{
width: 80%;height: 55px;font-size: 100px;margin-top: 0px;
}
.Logo{
  height: max-content;width: 15%;box-sizing: border-box;margin-left: -30px;
}