/* Header base */
.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background: rgba(255, 250, 245, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #e7e2dd;height: 12vh ;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.Logo {
  font-size: 1.4rem;font-family: 'Cinzel ';position: absolute;top: 5px;left: 5%;
  text-decoration: none;
  width: 15%;box-sizing: border-box;border: 0px solid;
}
.header__actions {
  display: flex;width: max-content;position: absolute;right: 10%;top: 27%;
  gap: 12px;
}

/* Buttons */
.btn {
  padding: 8px 18px;position: fixed;
  border-radius: 999px;width: max-content;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.25s ease;height: fit-content;
}
.btn--ghost{
  width: 100px;height: 20px;border-radius: 12px;padding: 10px;text-decoration: none;height: max-content;
  margin: 0 px;border: 1px solid rgb(168, 0, 0);color: rgb(168, 0, 0);
}
.btn--primary{
   background: rgb(168, 0, 0);width: 100px;height: max-content;margin-top: 0;
   border-radius: 12px;padding: 10px;text-decoration: none;color: white;
}
.btn--ghost:hover {
  background-color: rgb(233, 27, 27);color: white;
}
.btn--primary:hover {
  background: rgb(146, 0, 0);
}

.Logo img{
  margin-top: 0px;width: 100%;
}
@media (max-width: 1024px) {
  .header {
    height: 12vh;
    padding: 10px 0;
  }
  .header__container {
    padding: 12px 16px;
  }
  .Logo {
    position: absolute;
    width: 15%;margin-top: 0;
    top: 15%;
  }

  .header__actions {
    position: absolute;
    right: 10px;
    top: 30%;
    gap: 10px;
  }

  .btn--ghost,
  .btn--primary {
    width: 90px;
    padding: 8px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {

  .header {
    height: auto;
  }

  .header__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 14px;
  }

  .Logo {
    width: 35%;
    position: relative;
    left: 0;
    top: 0;
  }

  .Logo img {
    width: 100%;
  }

  .header__actions {
    position: relative;
    right: 0;
    top: 0;
    gap: 8px;
  }

  .btn {
    position: static; /* مهم بزاف */
  }

  .btn--ghost,
  .btn--primary {
    width: auto;
    padding: 6px 12px;
    font-size: 13px;
  }
}
@media (max-width: 480px) {

  .btn--ghost {
    display: none;
  }

  .Logo {
    width: 45%;
  }
}
